body {
    margin: 0;
    padding: 0;

}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: #5478c7;
}

.header-title {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 1.6rem;
    color: #ffffff;
}

.user {
    display: flex;
    flex-direction: row;
}


.user-photo {
    background-image: url(/img/dog.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    background-size: 60px;
    border-radius: 50%;
    margin-top: 6px;
    border: 2px solid #ffffff;
}

#user-name {
    padding-left: 10px;
    vertical-align: 120%;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.sign-out-button {
    padding: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    margin-right: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.sign-out-button img {
    width: 30px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chats {
    flex-grow: 3;
    max-width: 20%; 
    border-right: 1px solid #dddddd;    
}
.chats-title-div, .right-title-div, .active-chat-title-div {
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}
.games-title-div {
    border-top: 1px solid #dddddd;
}
.group-chat, .friend {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.using-chat {
    background-color: rgba(221, 221, 221, 0.63);
}
.group-description, .friend-description {
    padding-left: 10px;
    text-align: center;

}
.group-name, .friend-name {
    display: inline-block;  
}
.friend-name {
    padding-top: 12px;
}
.last-post {
    display: inline-block;
    font-size: 0.8rem;
}
.group-photo, .friend-photo, .author-photo {
    border-radius: 50%;
    width: 100px;
}

.friend-photo, .author-photo {
    width: 60px;
}
.group-chat span {
    max-width: 100%;
}
.active-chat {
    flex-grow: 5;
    max-width: 63%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.chat {
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 62vh;
    z-index: 1;
    width: 100%;
}

.message-coming-out {
    align-self: flex-end;
    max-width: 40%;
}
.message-coming-in {
    max-width: 40%;
}

.message-coming-in, .message-coming-out .author, .date {
    font-size: 0.8rem;
    padding-left: 5px;
}

.date {
    padding-right: 10px;
}
.message-coming-out-interior, .message-coming-in-interior {
    color: #ffffff;
    font-size: 14px;
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    
    border-top-right-radius: 50% 200%;
    border-bottom-right-radius: 50% 200%;
    border-top-left-radius: 50% 200%;
    border-bottom-left-radius: 50% 200%;
}
.message-coming-out-interior {
    background-color: #68e437;
}


.message-coming-in-interior {

    background-color: #db3a12;
}


.write-area {
    
    width: 100%;
    max-width: 100%;
    height: 20vh;
    border-top: 1px solid #dddddd;
    align-self: flex-end;
}
.right-menu {
    overflow-y: scroll;
    max-width: 17%;
    flex-grow: 1;
    border-left: 1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    height: 90vh;
}

.game {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.game img {
    width:100px;
}